<div class="container">

  <h2>Mi perfil para <%= resource_name.to_s.humanize %> <%=  current_user.email %></h2>


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <ul class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>En espera de confirmación del correo: <%= resource.unconfirmed_email %></p>
        <% end %>

        <li> <div> <%= f.input :password,
                    label: "Contraseña",
                    hint: "Déjalo en blanco si no la quieres cambiar",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %> </div> </li>
        <%= f.input :current_password,
                    label: "Contraseña actual",
                    hint: "Escribe tu contraseña actual para confirmar los cambios",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :nombres,
                    label: "Nombres",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "nombres" }%>
        <%= f.input :apellidos,
                    label: "Apellidos",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "apellidos" }%>
        <%= f.input :condicion,
                    label: "Condición",
                    collection: ["sordo", "oyente"], prompt: "Condición",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "apellidos" }%>
        <%= f.input :edad,
                    label: "Edad",
                    collection: 5..95, prompt: "Edad",
                    size: 3,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "apellidos" }%>
        <%= f.input :direccion,
                    label: "Direccion",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "direccion" }%>
        <%= f.input :ciudad,
                    label: "Ciudad",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "ciudad" }%>
        <%= f.input :telefono,
                    label: "Telefono",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "telefono" }%>
      </ul>


      <div class="form-actions">
        <%= f.button :submit, "Actualizar", class: "btn btn-primary" %>
      </div>
    <% end %>
  <div class="m-5 p-3 border border-danger rounded text-danger">
    <h6><strong>Cancelar cuenta</strong> </h6>
    <p>Atención, si quieres borrar tu cuenta, lo puedes hacer con este botón.
    <br>Ten en cuenta que esto no se puede revertir
    <br><%= link_to "Borrar mi cuenta", registration_path(resource_name),
    data: { confirm: "¿Estas bien seguro?" }, method: :delete, class: "btn btn-danger text-info" %></p>
  </div>

    <%= link_to "Volver", :back, class: "btn btn-primary" %>

</div>
