<div class="container">
  <div class="row">
    <div class="col">
      <h1> </h1>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0 d-flex justify-content-center">
      <div class="col-5 align-items-center">
        <div class="text-center pt-4">
          <h3>Cancion Pollitos Señas</h3>
        </div>
          <%= cl_video_tag("../Lessons/Otros/registro_video",
          :start_offset=>"10", :resource_type=>"video",
          :loop => false, :controls => true,
          :transformation => [
            :height=>300, :width=>480, :crop=>"scale",
            :quality=>"auto" ],
          :fallback_content => "Your browser does not support HTML5 video tags." ) %>

      </div>
      <div class="col-3 m-3">

        <h2>Registro</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      label: "Correo",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      label: "Contraseña",
                      required: true,
                      hint: ("#{@minimum_password_length} caracteres como mínimo" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: "Repite la contraseña",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :nombres,
                      label: "Nombres",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "nombres" }%>
          <%= f.input :apellidos,
                      label: "Apellidos",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "apellidos" }%>
          <%= f.input :condicion,
                      label: "Condición",
                      collection: ["sordo", "oyente"], prompt: "Condición",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "apellidos" }%>
          <%= f.input :edad,
                      label: "Edad",
                      collection: 5..95, prompt: "Edad",
                      size: 3,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "apellidos" }%>
          <%= f.input :direccion,
                      label: "Direccion",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "direccion" }%>
          <%= f.input :ciudad,
                      label: "Ciudad",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "ciudad" }%>
          <%= f.input :telefono,
                      label: "Telefono",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "telefono" }%>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Registrarse", class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="dropdown-divider"></div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
