<div class="container">

<h1>Hola Bienvenidos </h1>
  <H2> Somos Joaquin y Patricia un Taller para Personas Sordas y Oyentes,
  donde aprenderan la LectoEscritura Deletreo Dactilologico, Lectura Labial
  Lengua de Señas LSCH.
  Teniendo una comunicacion mas inclusiva y logrando erradicar la analfabetizacion
  que afecta a la Comunidad Sorda.</H2>


  <%= cl_video_tag("https://res.cloudinary.com/muestra-tu-sena/video/upload/v1631709267/Bienvenida_video.mp4",
  :loop => true, :controls => true,
  :transformation => [
    :height=>360, :width=>480, :crop=>"pad",
    :quality=>70 ],
  :fallback_content => "Your browser does not support HTML5 video tags." ) %>


</div>

<div class="container">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
