  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
     <footer>
         <div class="row my-5 justify-content-center py-5">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                         <h3 class="text-muted mb-md-0 mb-5  text-orange">Muestra<br>tu<br>Seña</h3>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4  text-orange "><b>MENU</b></h6>
                         <ul class="list-unstyled">
                             <li><%= link_to "Acceso", new_user_session_path %></li>
                             <li><%= link_to "Registro", new_user_registration_path %></li>
                             <li><%= link_to "Quienes Somos", about_path %></li>
                             <li><%= link_to "Lecciones", root_path %></li>
                             <li><%= link_to "Legal", legal_path %></li>
                             <li><%= link_to "Donaciones", donaciones_path %></li>
                         </ul>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class= "mb-3 mb-lg-4 text-orange"><b>DIRECCION</b></h6>

                         <p class="text-grey">Otto Magens 0828</p>
                         <p class="text-grey"> Punta Arenas CHILE</p>
                         <p class="text-grey"><b>Maria Patricia Avendaño Soto</b></p>
                         <p class="text-grey"> Directora y Fundadora</p>
                         <p class="text-grey"><i class="fa fa-envelope" aria-hidden="true"></i><a href="muestratusena@gmail.com" target="_blank"> muestratusena@gmail.com</a></p>
                     </div>

                 </div>
                 <div class="row ">
                     <div class=" text-orange col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                         <p class="social mb-0 pb-0 bold-text">
                         <span class="text-orange mx-2"><a href="https://facebook.com/muestratusena" target="_blank"><i class="fa fa-2x text-orange fa-facebook" aria-hidden="true"></i></a></span>
                         <span class="mx-2"><a href="https://facebook.com/muestratusena" target="_blank"><i class="fa fa-2x text-orange fa-linkedin-square" aria-hidden="true"></i></a></span>

                         <span class="mx-2"><a href="https://facebook.com/muestratusena" target="_blank"><i class="fa fa-2x text-orange fa-instagram" aria-hidden="true"></i></a></span> </p>
                     </div>

                 </div>
             </div>
         </div>
     </footer>
 </div>
