<div class="container">
  <div class="row">
    <div class="col">
      <%= render "shared/bienvenidos" %>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0 d-flex justify-content-center">
      <div class="col-5 d-flex align-items-center">

        <%= cl_video_tag( "presentacion_marcos",
          :start_offset=>"0", :resource_type=>"video",
          :loop => false, :controls => true,
          :transformation => [
            :height=>300, :width=>480, :crop=>"scale",
            :quality=>"auto" ],
          :fallback_content => "Your browser does not support HTML5 video tags." ) %>

      </div>
      <div class="col-3 m-3">
        <h2>Acceso</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        label: "Correo",
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        label: "Contraseña",
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me,
                        label: "Recordar", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Acceso", class: "btn btn-primary" %>

      <% end %>
      </div>
      <div class="dropdown-divider"></div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
